@media all and (max-width: 1723px) {
  .myJourney
    .journey-timeline-container
    .journey-timeline
    .timeline-description {
    width: 80%;
    min-height: 250px;
    /* background:purple; */
    z-index: 0;
    position: relative;
    display: flex;
    margin: auto;
    align-items: center;
  }
}

@media all and (max-width: 1318px) {
  .headlines {
    width: 500px;
    height: 300px;
    /* background: aqua; */
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .headlines h1 {
    margin: 0;
    line-height: 80px;
    font-size: 5rem;
    font-family: FuturaPTBold;
  }
  .headlines .word2 {
    font-size: 2rem;
    font-family: FuturaPTLight;
  }
  .headlines .buttonMore {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 50px;
    font-family: FuturaPTLight;
    font-size: 1.3rem;
    color: white;
    border-radius: 30px;
    padding-right: 10px;
    padding-left: 10px;
    background: black;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .home-section .hero-container img {
    width: 25rem;
  }
  .about .png-absolute1 {
    position: absolute;
    top: 80px;
    left: -50px;
    width: 20vw;
    z-index: 0;
  }
  .about .png-absolute2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100vw;
    transform: translateX(2%);
  }
  .about .profile-container .title-desc {
    color: white;
    font-size: 2rem;
    font-family: Roboto;
    font-weight: 500;
    line-height: 100px;
  }
  .about .profile-container p {
    color: white;
    font-size: 1rem;
    /* width: 599.3px; */
    font-family: Roboto;
    font-weight: 500;
    line-height: 25px;
  }
  .about .profile-container .profile-photo {
    z-index: 10;
    width: 350px;
    height: 350px;
  }
  .about .profile-container {
    width: 100%;
    min-height: 500px;
    /* background: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .myskills .myskill-img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
  }
  .myJourney
    .journey-timeline-container
    .journey-timeline
    .timeline-description {
    width: 100%;
    min-height: 250px;
    /* background:purple; */
    z-index: 0;
    position: relative;
    display: flex;
    margin: auto;
    align-items: center;
  }
  .myskills {
    position: relative;
    max-width: 100%;
    height: 100vh;
    background: black;
    display: flex;
    align-items: center;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .myProjects {
    max-width: 100%;
    max-height: 30vh;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .myProjects .projects-headlines {
    width: 45%;
    height: 350px;
    padding-left: 20px;
    display: flex;
    align-items: center;
  }
  .myProjects {
    max-width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .myProjects .projects-headlines h1 {
    /* background: green; */
    width: 6.75em;
    font-size: 3rem;
    font-family: Poppins;
    position: relative;
  }
  .myProjects .projects-headlines h1 .dotted-pattern {
    position: absolute;
    top: -10px;
    right: -4px;
    width: 4rem;
  }
  .myProjects .projects-headlines p {
    font-size: 16px;
    font-family: FuturaPTMedium;
    margin-top: 10px;
    position: relative;
  }
  .myProjects img {
    width: 40vw;
  }
  .contact-form {
    /* background: crimson; */
    width: 57%;
    padding-left: 20px;
    min-height: 600px;
    position: relative;
  }
}

/* ------------------- 1318px ------------------------- */

@media all and (max-width: 1070px) {
  .myJourney .journey-timeline-container {
    width: 100%;
    min-height: 100%;
    background: black;
    display: flex;
    justify-content: flex-start;
  }
  .myJourney .journey-timeline-container .journey-timeline {
    width: 100%;
    height: 100%;
    /* background: aqua; */
    padding-bottom: 10%;
    padding-top: 10%;
  }
  .myJourney .journey-timeline-container .journey-timeline .timeline-ball {
    width: 100%;
    min-height: 30px;
    display: flex;
    justify-content: flex-start;
  }
  .myJourney
    .journey-timeline-container
    .journey-timeline
    .timeline-description {
    width: 100%;
    min-height: 250px;
    /* background:purple; */
    z-index: 0;
    position: relative;
    display: flex;
    margin: auto;
    align-items: center;
  }
  .myJourney
    .journey-timeline-container
    .journey-timeline
    .timeline-description
    .timeline-line {
    width: 5px;
    height: 100%;
    background: crimson;
    position: absolute;
    left: 18px;
    transform: translateX(0);
  }
  .myJourney
    .journey-timeline-container
    .journey-timeline
    .timeline-description.left {
    justify-content: flex-end;
  }
  .myJourney .keep-going-img2 {
    position: absolute;
    top: 50%;
    left: -300px;
    width: 50rem;
    display: none;
    transform: translateY(-50%);
  }
  .myJourney
    .journey-timeline-container
    .journey-timeline
    .timeline-description
    .journey-text-right::before {
    display: none;
  }
  .myJourney
    .journey-timeline-container
    .journey-timeline
    .timeline-description
    .journey-text-right::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 25px solid crimson;
    top: 40%;
    left: -25px;
    display: block;
  }
  .myJourney
    .journey-timeline-container
    .journey-timeline
    .timeline-description
    .journey-text-left {
    padding: 15px;
    max-width: 300px;
    min-height: 100px;
    position: relative;
    margin-right: calc(100% - 30em);
    color: white;
    border: 2px solid crimson;
    font-family: FuturaPTMedium;
    letter-spacing: 0.3px;
  }
  .myJourney
    .journey-timeline-container
    .journey-timeline
    .timeline-description
    .journey-text-right {
    padding: 15px;
    max-width: 350px;
    min-height: 100px;
    position: relative;
    margin-right: calc(100% - 30em);
    color: white;
    border: 2px solid crimson;
    font-family: FuturaPTMedium;
    z-index: 2;
    letter-spacing: 0.3px;
  }
  .myskills .skills-description {
    width: 50%;
    height: 300px;
  }
  .myskills .skills-description h2 {
    word-break: break-word;
    width: 360px;
    font-family: Poppins;
    font-weight: 700;
    color: white;
    letter-spacing: 3px;
    font-size: 2.5rem;
    line-height: 45px;
  }
  .myskills .skills-description p {
    word-break: break-word;
    margin-top: 30px;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 500;
  }
  .myskills .grid-skills {
    position: relative;
    min-width: 300px;
    min-height: 300px;
    display: grid;
    /* background: crimson; */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 5px;
  }
  .myskills .grid-skills img {
    width: 100px;
    height: 100px;
  }
  .myskills .grid-skills .grid-items .grid-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    align-items: center;
    transform: translateY(100%);
    background: rgb(0, 0, 0, 0.8);
    transition: transform 0.5s cubic-bezier(0.17, 0.84, 0.44, 1);
  }
  .about {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: black;
    display: flex;
    align-items: center;
  }
  .about .profile-container {
    width: 100%;
    min-height: 500px;
    padding-left: 10px;
    padding-right: 0;
    /* background: blue; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .about .profile-container .profile-photo {
    display: none;
  }
  .description {
    width: 100%;
    margin-left: 2px;
    padding-right: 10px;
    /* word-break: break-word; */
  }
  .relax-info {
    display: none;
  }
  .quotes-for-tabmobile {
    display: block;
    padding-bottom: 10px;
  }
}

@media all and (max-width: 1005px) {
  nav {
    /* width: 100%; */
    min-height: 70px;
    display: flex;
    /* inset: 0 0 auto; */
    /* padding-right: 8rem;
    padding-left: 8rem; */
    padding-right: 2rem;
    padding-left: 2rem;
    Z-INDEX: 1000;
    /* padding:1rem 2.5rem 1rem 2.5rem; */
    align-items: center;
    position: fixed;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
  }
  .recommended-view button {
    margin-right: 2rem;
  }
  .recommended-view p {
    margin-left: 2rem;
  }
  .home-section .hero-container {
    position: relative;
    max-width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background: blue; */
  }
  .half-circle1 {
    position: relative;
    display: block;
    width: 100%;
    min-height: 45px;
    /* background: green; */
  }
}

@media all and (max-width: 864px) {
  .contact-mail {
    display: none;
  }
  .contact-section {
    max-width: 100%;
    min-height: 85vh;
    /* background: purple; */
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
  }
  .contact-form {
    /* background: crimson; */
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    min-height: 600px;
    position: relative;
  }
}

@media all and (max-width: 826px) {
  .home-section .hero-container img {
    display: none;
  }
}
@media all and (max-width: 682px) {
  .myskills .flex-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }
  .myskills .skills-description {
    width: 100%;
    min-height: 100px;
    /* background: orange; */
  }
  .about .png-absolute1 {
    position: absolute;
    top: 80px;
    left: 0;
    width: 20vw;
    z-index: 0;
  }
  .myProjects .orang {
    display: none;
  }
  .myProjects .projects-headlines {
    width: 100%;
    height: 350px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
  }
  .myProjects {
    max-width: 100%;
    min-height: 20vh;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .myProjects .projects-headlines p .triple-arrow {
    position: absolute;
    bottom: -10px;
    right: 0;
    width: 3rem;
  }
  .myProjects .projects-headlines p .wavy-line {
    position: absolute;
    bottom: -1.5em;
    left: -0.92em;
    width: 5rem;
  }
}

@media all and (max-width: 626px) {
  .about .profile-container .title-desc {
    color: white;
    font-size: 1.8rem;
    font-family: Roboto;
    font-weight: 500;
    line-height: 100px;
  }
  .recommended-view {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .recommended-view button {
    margin-right: 0;
    margin-top: 10px;
    margin-left: 10px;
  }
  .recommended-view p {
    margin-left: 10px;
  }

  .animate-navbar-mobile {
    display: block;
  }
  .animate-navbar {
    display: none;
  }
  nav .menu {
    display: block;
    width: 30px;
    position: relative;
    min-height: 20px;
    /* background: aqua; */
    cursor: pointer;
    z-index: 1000;
  }
  nav .menu .span:nth-child(1) {
    top: 0;
  }
  nav .menu .span:nth-child(2) {
    top: 50%;
  }
  nav .menu .span:nth-child(3) {
    top: 100%;
  }
  nav .menu .span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background: black;
  }
  nav .menu .span.toggle {
    background: white;
  }
  ul {
    position: absolute;
    top: 0;
    right: 0;
    background: black;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 900;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    clip-path: circle(0% at 100% 0);
    transform-origin: top right;
    padding-left: 10px;
    flex-direction: column;
    transition: all 500ms cubic-bezier(0.79, 0.14, 0.15, 0.86);
  }
  ul.toggle {
    clip-path: circle(75%);
    /* transform: scale(1); */
  }
  ul li {
    padding-top: 12px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 12px;
    /* background: orange; */
    margin-bottom: 30px;
    margin-left: 10px;
  }
  ul li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: left;
    background: white;
    z-index: -1;
    transition: transform 500ms cubic-bezier(0.17, 0.84, 0.44, 1);
  }
  ul li:hover::before,
  ul li:focus-within::before {
    transform: scaleX(1);
  }
  ul li:hover .navbarLinks,
  ul li:focus-within .navbarLinks {
    color: black;
  }
  ul li .navbarLinks {
    color: white;
    font-size: 3rem;
    transition: color 200ms cubic-bezier(0.17, 0.84, 0.44, 1);
  }
  nav {
    padding-right: 1.5rem;
    padding-left: 1rem;
  }
}

@media all and (max-height: 724px) {
  .myskills .myskill-img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    z-index: 0;
  }
  .contact-section {
    max-width: 100%;
    min-height: 85vh;
    /* background: purple; */
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-around;
    padding-bottom: 30px;
  }
}

@media (max-width: 428px) and (max-height: 928px) {
  .home-section .hero-container {
    position: relative;
    max-width: 100%;
    padding-left: 1rem;
    padding-right: 0;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background: blue; */
  }
  .myskills .flex-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }
  .myJourney .journey-timeline-container .journey-timeline {
    width: 100%;
    height: 100%;
    /* background: aqua; */
  }
  .myJourney
    .journey-timeline-container
    .journey-timeline
    .timeline-description {
    max-width: 100%;
    min-height: 250px;
    /* background:purple; */
    z-index: 0;
    position: relative;
    display: flex;
    /* margin: auto; */
    margin-right: 0;
    /* padding-right: 50px; */
    align-items: center;
  }
  .myJourney
    .journey-timeline-container
    .journey-timeline
    .timeline-description
    .journey-text-left {
    padding: 15px;
    max-width: 65vw;
    min-height: 100px;
    position: relative;
    color: white;
    border: 2px solid crimson;
    font-family: FuturaPTMedium;
    letter-spacing: 0.3px;
    margin-right: 10px;
    /* background: orange; */
  }
  .myJourney
    .journey-timeline-container
    .journey-timeline
    .timeline-description
    .timeline-line {
    width: 5px;
    height: 100%;
    background: crimson;
    position: absolute;
    left: 9.5px;
    transform: translateX(0);
  }
  .myJourney
    .journey-timeline-container
    .journey-timeline
    .timeline-ball
    .ball {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
    border: 5px solid crimson;
  }
  .myJourney .journey-timeline-container .journey-timeline .timeline-ball {
    width: 100%;
    min-height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .myJourney
    .journey-timeline-container
    .journey-timeline
    .timeline-description
    .journey-text-left
    .desc {
    margin-top: 10px;
    font-size: 14px;
  }
  .myJourney
    .journey-timeline-container
    .journey-timeline
    .timeline-description
    .journey-text-left
    .Headline {
    font-size: 1.3em;
  }
  .myJourney
    .journey-timeline-container
    .journey-timeline
    .timeline-description
    .journey-text-right {
    padding: 15px;
    max-width: 65vw;
    min-height: 100px;
    position: relative;
    margin-right: 10px;
    color: white;
    border: 2px solid crimson;
    font-family: FuturaPTMedium;
    z-index: 2;
    letter-spacing: 0.3px;
  }
  .myJourney
    .journey-timeline-container
    .journey-timeline
    .timeline-description
    .journey-text-right
    .desc {
    margin-top: 10px;
    font-size: 14px;
  }
  .myJourney
    .journey-timeline-container
    .journey-timeline
    .timeline-description
    .journey-text-right
    .Headline {
    font-size: 1.3em;
  }
  .myJourney .keep-going-img {
    display: none;
  }
  .contact-section {
    max-width: 100%;
    min-height: 85vh;
    /* background: purple; */
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-around;
    margin-bottom: 0;
    padding-bottom: 30px;
  }

  .contact-section .contact-form h1 {
    margin-block-start: 0;
    margin-left: 0;
    font-size: 2.5rem;
    font-family: "Montserrat", sans-serif;
  }
  .contact-section .contact-form p {
    margin-top: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 500;
  }
  .half-circle1 {
    position: relative;
    display: block;
    width: 100%;
    min-height: 17px;
    /* background: green; */
  }
  .up-wrap .word {
    line-height: 60px;
  }
  .up-wrap .word2 {
    margin-left: 0;
  }
}
@media all and (max-width: 390px) and (max-height: 884px) {
  .headlines h1 {
    margin: 0;
    line-height: 60px;
    font-size: 3.5rem;
    font-family: FuturaPTBold;
  }
  .headlines .word2 {
    font-size: 1.5rem;
    font-family: FuturaPTLight;
  }
  .half-circle1 {
    position: relative;
    display: block;
    width: 100%;
    min-height: 17px;
    /* background: green; */
  }
  .myskills .flex-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }
  ul li .navbarLinks {
    font-size: 2.5rem;
  }
}
