@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Open+Sans:wght@400;500;600;700&family=Poppins:wght@400;600;700&family=Roboto:wght@400;500;700&display=swap");

/* IMPORTANT ELMENTS */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  /* scroll-behavior: smooth; */
  text-decoration: none;
  /* box-sizing: border-box; */
}

/* Font Face Futura PT */

@font-face {
  font-family: FuturaPTMedium;
  src: url(../fonts/FuturaPTMedium.otf);
}
@font-face {
  font-family: FuturaPTBold;
  src: url(../fonts/FuturaPTBold.otf);
}
@font-face {
  font-family: FuturaPTLight;
  src: url(../fonts/FuturaPTLight.otf);
}
@font-face {
  font-family: FuturaPTHeavy;
  src: url(../fonts/FuturaPTHeavy.otf);
}

/* Font Face Futura PT */
body {
  max-width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  transition: background 300ms ease;
}
::-webkit-scrollbar {
  display: none;
}

.percent{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  letter-spacing: 2px;
  font-family: FuturaPTLight;
}
/* 
::-webkit-scrollbar-track {
    background: rgba(255,255,255,0);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(7, 7, 7);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(39, 39, 39);
} */

/* IMPORTANT ELMENTS */

/* Load Page styling */
.no-scroll{
  overflow-y: hidden;
}
.page-load{
  position: fixed;
  top: 0;left: 0;
  width: 100%;
  height: 100vh;
  /* background:rgb(20, 20, 20); */
  background:black;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 3rem;
  /* text-transform: uppercase; */
  font-family: Poppins;
  font-weight: 700;
  white-space: nowrap;
}

@keyframes ldio-g0e1vuxutig {
  0% { transform: rotate(0deg) }
  50% { transform: rotate(180deg) }
  100% { transform: rotate(360deg) }
}
.ldio-g0e1vuxutig div {
  position: absolute;
  animation: ldio-g0e1vuxutig 1s linear infinite;
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  border-radius: 50%;
  box-shadow: 0 4px 0 0 #dc143c;
  transform-origin: 80px 82px;
}
.loadingio-spinner-eclipse-jf5e22bpfve {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
}
.ldio-g0e1vuxutig {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.ldio-g0e1vuxutig div { box-sizing: content-box; }

.blank-white{
  position: fixed;
  top: 0;left: 0;
  width: 100%;
  height: 100vh;
  /* background:rgb(20, 20, 20); */
  background:white;
  z-index: 8500;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 3rem;
  /* text-transform: uppercase; */
  font-family: Poppins;
  font-weight: 700;
  white-space: nowrap;
}
.up-wrap{
  /* background: brown; */
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.up-wrap .word2{
  margin-left: 10px;
}
/* Load Page styling */

/* Recommended View */

.recommended-view{
  width: 100vw;
  min-height: 50px;
  /* padding: 10px; */
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding-left: 8rem;
  padding-right: 8rem; */
  position: fixed;
  background: rgb(20, 20, 20);
  bottom: 0;
  left: 0;
  color: white;
  font-family: Roboto;
  z-index: 1000;

}
.recommended-view button{
  margin-right: 8rem;
  /* display: block; */
  width: 130px;
  height: 45px;
  color: white;
  background: none;
  border: 1px solid crimson;
  cursor: pointer;
  transition: background 100ms ease-in-out;
}
.recommended-view p{
  margin-left: 8rem;
}
.recommended-view button:hover{
  background: crimson;
}
/* Recommended View */

/* NAVBAR */
nav {
  /* width: 100%; */
  min-height: 70px;
  display: flex;
  /* inset: 0 0 auto; */
  /* padding-right: 8rem;
  padding-left: 8rem; */
  padding-right: 8rem;
  padding-left: 8rem;
  Z-INDEX: 10;
  /* padding:1rem 2.5rem 1rem 2.5rem; */
  align-items: center;
  position: fixed;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
}

.animation-none{
  animation: biasa 1s forwards;
}
@keyframes biasa {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 1;
  }
}

.animate-navbar-mobile{
  display: none;
}
ul {
  display: flex;
  align-items: center;
}
.mr-6 {
  margin-right: 2rem;
}

ul li {
  position: relative;
  margin-left: 50px;
  mix-blend-mode: exclusion;
}
ul li .navbarLinks {
  font-family: Roboto;
  color: black;
}
ul li .navbarLinks.darkmodenavbar {
  color: white;
}

/* NAVBAR */

.menu {
  display: none;
}

/* HOME */

.home-section {
  max-width: 100%;
  height: 100vh;
  padding-top: 5rem;
  /* padding-bottom: 5rem; */
  position: relative;
}
.headlines {
  width: 500px;
  height: 300px;
  /* background: aqua; */
}
.headlines h1 {
  margin: 0;
  line-height: 100px;
  font-size: 6.5rem;
  font-family: FuturaPTBold;
}
.headlines .word2 {
  font-size: 2.5rem;
  font-family: FuturaPTLight;
}
.headlines .buttonMore {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 50px;
  font-family: FuturaPTLight;
  font-size: 1.5rem;
  color: white;
  border-radius: 30px;
  padding-right: 10px;
  padding-left: 10px;
  background: black;
  margin-top: 20px;
  margin-bottom: 20px;
}
.headlines .menggokil{
  font-size: 23px;
  font-family: FuturaPTLight;
}
.headlines .buttonMore:hover {
  background: rgb(20, 20, 20);
}
.home-section .hero-container {
  position: relative;
  max-width: 100%;
  padding-left: 8rem;
  padding-right: 8rem;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* background: blue; */
}
.home-section .hero-container img {
  width: 33rem;
}
.home-section .discoverAbsolute {
  position: absolute;
  z-index: 333;
  bottom: 15%;
  transform: rotate(-90deg);
}
.home-section .discoverAbsolute .go-Bottom {
  position: relative;
  display: block;
  color: black;
  font-family: Poppins;
  font-weight: 600;
  cursor: pointer;
}
.home-section .discoverAbsolute .go-Bottom:before {
  content: "\f104";
  position: absolute;
  bottom: -1.5px;
  left: -17px;
  font-family: "Font Awesome 5 Free";
  font-size: 24px;
  color: black;
  animation: pointerdown 2s ease-in-out infinite;
}
@keyframes pointerdown {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-20px);
  }
}
.home-section .discoverAbsolute.discoverAbsolute2 {
  right: auto;
  left: 50%;
  margin-left: -36px;
}
.home-section .discoverAbsolute i {
  font-size: 25px;
  margin-right: 10px;
}

/* HOME */

/* Half Circle to About */

.half-circle1 {
  position: relative;
  display: block;
  width: 100%;
  min-height: 172px;
  /* background:green; */
}
.half-circle1 img {
  position: absolute;
  bottom: 0;
}
.half-circle2 {
  position: relative;
  width: 100%;
  min-height: 180px;
}
.half-circle2 img {
  position: absolute;
  top: 0;
}
/* Half Circle to About */
/* about section */
.about {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: black;
  display: flex;
  align-items: center;
}
.about.hidden{
  display: none;
}
.about .png-absolute1 {
  position: absolute;
  top: 80px;
  left: -50px;
  width: 20rem;
  z-index: 0;
}
.about .png-absolute2 {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateX(2%);
}
.about .profile-container {
  width: 100%;
  min-height: 150px;
  /* background: blue; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.description {
  width: 700px;
  margin-left: 60px;
  /* word-break: break-word; */
}
.about .profile-container .title-desc {
  color: white;
  font-size: 2.5rem;
  font-family: Roboto;
  font-weight: 500;
  line-height: 100px;
}
.about .profile-container p {
  color: white;
  font-size: 1.2rem;
  /* width: 599.3px; */
  font-family: Roboto;
  font-weight: 500;
  line-height: 25px;
}
.about .profile-container .profile-photo {
  z-index: 10;
  width: 400px;
  height: 400px;
}
.about .profile-container .description .underlineText {
  text-decoration: underline;
  color: white;
  font-family: Roboto;
  font-weight: 500;
  margin-top: 20px;
  display: block;
}
.about .profile-container .description .underlineText:hover {
  color: whitesmoke;
}
.myskills {
  position: relative;
  max-width: 100%;
  min-height: 100vh;
  background: black;
  display: flex;
  align-items: center;
  padding-right: 8rem;
  padding-left: 8rem;
}
.myskills.hidden{
  display: none;
}
.myskills .myskill-img {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}
.myskills .flex-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.myskills .skills-description {
  width: 50%;
  height: 380px;
}
.myskills .skills-description h2 {
  word-break: break-word;
  width: 360px;
  font-family: Poppins;
  font-weight: 700;
  color: white;
  letter-spacing: 3px;
  font-size: 4rem;
  line-height: 70px;
}
.myskills .skills-description p {
  word-break: break-word;
  margin-top: 30px;
  font-size: 20px;
  font-family: Roboto;
  font-weight: 500;
}
.myskills .grid-skills {
  position: relative;
  min-width: 300px;
  min-height: 460px;
  display: grid;
  /* background: crimson; */
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  grid-gap: 5px;
}
.myskills .grid-skills .grid-items {
  /* background: green; */
  /* border-radius: 5px; */
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: transform;
  transition: 0.5s ease;
  z-index: 12;
}
.myskills .grid-skills .grid-items::before {
  content: "";
  background: hsla(0, 0%, 100%, 0.5);
  width: 50%;
  height: 100%;
  top: 0;
  z-index: 10;
  left: -125%;
  transform: skew(45deg);
  position: absolute;
  transition: all 0.7s cubic-bezier(0.17, 0.84, 0.44, 1);
}
.myskills .grid-skills .grid-items:hover::before {
  left: 200%;
}
.myskills .grid-skills .grid-items::after {
  content: "";
  background: hsla(0, 0%, 100%, 0.3);
  width: 30%;
  height: 100%;
  top: 0;
  z-index: 10;
  left: -160%;
  transform: skew(45deg);
  position: absolute;
  transition: all 0.7s cubic-bezier(0.17, 0.84, 0.44, 1);
}
.myskills .grid-skills .grid-items:hover::after {
  left: 160%;
}
.myskills .grid-skills .grid-items .grid-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
  background: rgb(0, 0, 0, 0.8);
  transition: transform 0.5s cubic-bezier(0.17, 0.84, 0.44, 1);
}
.myskills .grid-skills .grid-items:hover {
  transform: scale(1.1, 1.1);
}
.myskills .grid-skills .grid-items:hover.html {
  background: #e34f25;
}
.myskills .grid-skills .grid-items:hover.css {
  background: #1b73ba;
}
.myskills .grid-skills .grid-items:hover.js {
  background: #f7df1e;
}
.myskills .grid-skills .grid-items:hover.bs {
  background: #7911f7;
}
.myskills .grid-skills .grid-items:hover.js {
  background: #f7df1e;
}
.myskills .grid-skills .grid-items:hover.svgator {
  background: #192034;
}
.myskills .grid-skills .grid-items:hover.scss {
  background: #fff;
}
.myskills .grid-skills .grid-items:hover.figma {
  background: #fff;
}
.myskills .grid-skills .grid-items:hover.jquery {
  background: #fff;
}
.myskills .grid-skills .grid-items:hover.ps {
  background: #116ce4;
}
.myskills .grid-skills .grid-items:hover .grid-description {
  transform: translateY(0);
  transform: scale(1.1, 1.1);
}
/* My skills */

/* My Journey */

.myJourney {
  max-width: 100%;
  min-height: 100vh;
  background: black;
  position: relative;
}
.myJourney.hidden{
  display: none;
}
.myJourney .title-journey {
  width: 100%;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background:green; */
}
.myJourney .title-journey h1 {
  font-size: 3rem;
  color: white;
  font-family: Poppins;
  position: relative;
  z-index: 5;
}
.myJourney .title-journey h1::before {
  content: "My Journey";
  position: absolute;
  font-size: 3rem;
  bottom: -5px;
  left: -5px;
  color: crimson;
  font-family: Poppins;
  z-index: -1;
}
.myJourney .journey-timeline-container {
  max-width: 100%;
  min-height: 100%;
  background: black;
  display: flex;
  justify-content: center;
}
.myJourney .journey-timeline-container .journey-timeline {
  width: 80%;
  height: 100%;
  /* background: aqua; */
}
.myJourney .journey-timeline-container .journey-timeline .timeline-ball {
  width: 100%;
  min-height: 30px;
  display: flex;
  justify-content: center;
}
.myJourney .journey-timeline-container .journey-timeline .timeline-ball .ball {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: white;
  border: 5px solid crimson;
}
.myJourney .journey-timeline-container .journey-timeline .timeline-description {
  width: 60%;
  min-height: 250px;
  /* background:purple; */
  z-index: 0;
  position: relative;
  display: flex;
  margin: auto;
  align-items: center;
}
.myJourney
  .journey-timeline-container
  .journey-timeline
  .timeline-description
  .timeline-line {
  width: 5px;
  height: 100%;
  background: crimson;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.myJourney
  .journey-timeline-container
  .journey-timeline
  .timeline-description.right {
  position: relative;
  justify-content: flex-end;
}
.myJourney
  .journey-timeline-container
  .journey-timeline
  .timeline-description.left {
  justify-content: flex-start;
  position: relative;
}
.myJourney
  .journey-timeline-container
  .journey-timeline
  .timeline-description
  .journey-text-left
  .left-arrow {
  position: absolute;
  border: 15px solid crimson;
  border-top-color: transparent;
  border-bottom-color: transparent;
  background: crimson;
  color: crimson;
  top: 40%;
  left: -10px;
}
.myJourney
  .journey-timeline-container
  .journey-timeline
  .timeline-description
  .journey-text-left {
  padding: 15px;
  max-width: 350px;
  min-height: 100px;
  position: relative;
  color: white;
  border: 2px solid crimson;
  font-family: FuturaPTMedium;
  letter-spacing: 0.3px;
  /* background: orange; */
}
.myJourney
  .journey-timeline-container
  .journey-timeline
  .timeline-description
  .journey-text-left::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 25px solid crimson;
  top: 40%;
  left: -25px;
}
.myJourney
  .journey-timeline-container
  .journey-timeline
  .timeline-description
  .journey-text-left
  .desc {
  margin-top: 10px;
}
.myJourney
  .journey-timeline-container
  .journey-timeline
  .timeline-description
  .journey-text-left
  .Headline {
  font-size: 1.5em;
}
.myJourney
  .journey-timeline-container
  .journey-timeline
  .timeline-description
  .journey-text-right {
  padding: 15px;
  max-width: 350px;
  min-height: 100px;
  position: relative;
  color: white;
  border: 2px solid crimson;
  font-family: FuturaPTMedium;
  z-index: 2;
  letter-spacing: 0.3px;
}
.myJourney
  .journey-timeline-container
  .journey-timeline
  .timeline-description
  .journey-text-right::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 25px solid crimson;
  top: 40%;
  right: -25px;
}
.myJourney
  .journey-timeline-container
  .journey-timeline
  .timeline-description
  .journey-text-right
  .desc {
  margin-top: 10px;
  z-index: 2;
}
.myJourney
  .journey-timeline-container
  .journey-timeline
  .timeline-description
  .journey-text-right
  .Headline {
  z-index: 2;
  font-size: 1.5em;
}
.myJourney
  .journey-timeline-container
  .journey-timeline
  .timeline-description.right {
  justify-content: flex-end;
}
.myJourney
  .journey-timeline-container
  .journey-timeline
  .timeline-description.left {
  justify-content: flex-start;
}
.myJourney .keep-going-img {
  position: absolute;
  top: 50%;
  right: -300px;
  width: 50rem;
  transform: translateY(-50%);
}
.myJourney .keep-going-img.rotate-90 {
  transform: rotate(90deg);
}
.myJourney .keep-going-img2 {
  position: absolute;
  top: 50%;
  left: -300px;
  width: 50rem;
  transform: translateY(-50%);
}
.myJourney .keep-going-img2.rotate-90 {
  transform: rotate(-90deg);
}
/* My Journey */

/* My Projects */

.myProjects {
  max-width: 100%;
  min-height: 10vh;
  padding-top: 10em;
  padding-bottom: 25px;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* background: purple; */
}
.myProjects.hidden{
  display: none;
}
.myProjects h1 {
  /* background: green; */
  width: 6.75em;
  font-size: 4rem;
  font-family: Poppins;
  position: relative;
}

.projects-collection {
    padding-top: 4em;
  max-width: 100%;
  min-height: 100vh;
  background: white;
  margin-bottom: 4em;
  /* display: flex;
    justify-content:center;
    align-items: center; */
  position: relative;
}
.projects-collection.hidden{
  display: none;
}
.projects-collection .dotted-pattern{
    position: absolute;
    bottom: 10rem;
    left: 3rem;
    width: 10rem;
    /* transform: translateY(-100%); */
    transition: transform 1s cubic-bezier(0.22, 0.61, 0.36, 1);
    animation: blink-dots 10.5s infinite;

}
.projects-collection .dotted-pattern .st2{
  fill: crimson;
}
.projects-collection .dotted-pattern2{
  position: absolute;
  top: 20rem;
  right: 3rem;
  width: 10rem;
  /* transform: translateY(-100%); */
  transition: transform 1s cubic-bezier(0.22, 0.61, 0.36, 1);
  animation: blink-dots 10s infinite;
}
.projects-collection .dotted-pattern2 .st2{
  fill: black;
}
.projects-collection .line-svg{
  position: absolute;
  top: 30rem;
  left: 22rem;
  z-index: 0;
  width: 15rem;
  opacity: .5;
  transition: transform 1.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.projects-collection .line-svg2{
  position: absolute;
  bottom: 20rem;
  right: 22rem;
  z-index: 0;
  width: 15rem;
  opacity: .5;
  transition: transform 1.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

@keyframes blink-dots {
  0.0%{
    opacity: 1;
  }
  2.7%{
      opacity: 1;
  }
  85%{
    opacity: 1;
  }
  85.5%{
    opacity: 0;
  }
  86%{
    opacity: 1;
  }
  86.5%{
    opacity: 0;
  }
  87%{
    opacity: 1;
  }
  87.5%{
    opacity: 0;
  }
  88%{
    opacity: 1;
  }
  88.5%{
    opacity: 0;
  }
  89%{
    opacity: 1;
  }
  89.5%{
    opacity: 0;
  }
  90%{
    opacity: 1;
  }
  90.5%{
    opacity: 0;
  }
  91%{
    opacity: 1;
  }
}
.projects-collection .projects-container {
  max-width: 100%;
  min-height: 80vh;
  /* background: #116ce4; */
  display: flex;
  /* top | right | bottom | left */
  padding: 1em 15% 1em 15%;
  grid-gap: 1em;
  align-items: center;
  justify-content: center;
}
.projects-collection .projects-container .grid-container {
  width: 100%;
  min-height: 80vh;
  /* background: purple; */
  grid-gap: 2em;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 350px));
  grid-template-rows: repeat(auto-fit, minmax(250px, 350px));
}
.projects-collection .projects-container .grid-items {
  min-height: 30px;
  overflow: hidden;
  position: relative;
  z-index: 2;
  object-fit: cover;
}
.projects-collection .projects-container .grid-items .absolute-description {
  position: absolute;
  bottom: 0;
  left: 0;
  /* right: 0; */
  background: black;
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(200px);
  transition: transform 300ms cubic-bezier(0.22, 0.61, 0.36, 1);
}
.projects-collection
  .projects-container
  .grid-items
  .absolute-description::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 3px;
  transform: scaleX(0);
  /* transform-origin: center; */
  transition: transform 300ms ease-in-out;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #ae00ff);
}
.projects-collection
  .projects-container
  .grid-items
  .absolute-description:hover::before {
  transform: scaleX(1);
}
.projects-collection
  .projects-container
  .grid-items:hover
  .absolute-description {
  transform: translateY(0);
}
/* .projects-collection .projects-container .grid-items:hover{
    border: 2px solid crimson;
} */
.projects-collection .projects-container .grid-items:hover img {
  transform: scale(1.1) rotate(5deg);
}
.projects-collection .projects-container .grid-items .absolute-description h5 {
  color: white;
  font-family: Poppins;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 5px;
}
.projects-collection .projects-container .grid-items .absolute-description a {
  /* text-transform: uppercase; */
  color: white;
  font-family: Open Sans;
  font-weight: 400;
  transition: color 100ms ease-in-out;
}
.projects-collection
  .projects-container
  .grid-items
  .absolute-description
  a:hover {
  /* text-transform: uppercase; */
  color: #e73c7e;
  font-weight: 400;
}
.projects-collection
  .projects-container
  .grid-items:nth-child(2)
  .absolute-description
  a:hover {
  /* text-transform: uppercase; */
  color: #05cc46;
  font-weight: 400;
}
.projects-collection
  .projects-container
  .grid-items:nth-child(2)
  .absolute-description::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 3px;
  transform: scaleX(0);
  /* transform-origin: center; */
  transition: transform 300ms ease-in-out;
  background: #05cc46;
}
.projects-collection
  .projects-container
  .grid-items:nth-child(2)
  .absolute-description:hover::before {
  transform: scaleX(1);
}
.projects-collection
  .projects-container
  .grid-items:nth-child(4)
  .absolute-description
  a:hover {
  /* text-transform: uppercase; */
  color: #00979c;
  font-weight: 400;
}
.projects-collection
  .projects-container
  .grid-items:nth-child(4)
  .absolute-description::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 3px;
  transform: scaleX(0);
  /* transform-origin: center; */
  transition: transform 300ms ease-in-out;
  background: #00979c;
}
.projects-collection
  .projects-container
  .grid-items:nth-child(4)
  .absolute-description:hover::before {
  transform: scaleX(1);
}
.projects-collection
  .projects-container
  .grid-items:nth-child(5)
  .absolute-description
  a:hover {
  /* text-transform: uppercase; */
  color: #73baf3;
  font-weight: 400;
}
.projects-collection
  .projects-container
  .grid-items:nth-child(5)
  .absolute-description::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 3px;
  transform: scaleX(0);
  /* transform-origin: center; */
  transition: transform 300ms ease-in-out;
  background: #73baf3;
}
.projects-collection
  .projects-container
  .grid-items:nth-child(5)
  .absolute-description:hover::before {
  transform: scaleX(1);
}
.projects-collection
  .projects-container
  .grid-items:nth-child(6)
  .absolute-description
  a:hover {
  /* text-transform: uppercase; */
  color: #ff9e4a;
  font-weight: 400;
}
.projects-collection
  .projects-container
  .grid-items:nth-child(6)
  .absolute-description::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 3px;
  transform: scaleX(0);
  /* transform-origin: center; */
  transition: transform 300ms ease-in-out;
  background: #ff9e4a;
}
.projects-collection
  .projects-container
  .grid-items:nth-child(6)
  .absolute-description:hover::before {
  transform: scaleX(1);
}
.projects-collection .projects-container .grid-items img {
  width: 100%;
  height: 100%;
  transition: transform 500ms cubic-bezier(0.22, 0.61, 0.36, 1);
}
.projects-collection .myproject-marquee {
  width: 100%;
  min-height: 30px;
  font-family: Poppins;
  font-weight: 700;
  font-size: 2.5rem;
  color: black;
  overflow: hidden;
  white-space: nowrap;
}
.projects-collection .myproject-marquee span {
  display: inline-block;
  margin-left: 4px;
  animation: marquee 50s linear infinite;
}
@keyframes marquee {
  0% {
    /* transform: translateX(-456.7%); */
    transform: translateX(-623.31%);
  }
  100% {
    transform: translateX(0);
  }
}
.projects-collection .myproject-marquee2 {
  width: 100%;
  /* background: crimson; */
  min-height: 30px;
  font-family: Poppins;
  font-weight: 700;
  font-size: 2.5rem;
  color: crimson;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 15px;
}
.projects-collection .myproject-marquee2 span {
  display: inline-block;
  margin-left: 4px;
  animation: marquee2 50s linear infinite;
}
@keyframes marquee2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-623.31%);
  }
}
.svg-waves {
  position: relative;
  max-width: 100%;
  height: 33vh;
}
.svg-waves .waves-1 {
  position: absolute;
  bottom: 0;
  left: 0;
}
.svg-waves .waves-2 {
  position: absolute;
  top: 0;
  left: 0;
}
/* My Projects */

/* Contact  */
.contact-section {
  max-width: 100%;
  min-height: 85vh;
  background: black;
  position: relative;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-around;
}
.contact-section .go-back{
  position: absolute;
  bottom: 10%;
  right: 3%;
  z-index:30;
  color: white;
}
.contact-section .relax-info{
  position: absolute;
  bottom: 10%;
  right: 3%;
  background:rgb(19, 19, 19);
  padding: 10px;
  width: 200px;
  z-index:30;
  color: white;
}
.quotes-for-tabmobile{
  display: none;
}
.relax-info-animate{
  animation: info 2s cubic-bezier(0.68,-0.55,0.27,1.55) forwards;
  animation-delay: 8.2s;
}
@keyframes info {
  0%{
    transform: translateX(0);
  }
  75%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(300px);
  }
}
.line-progress-info{
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  background: crimson;
  transform: scaleY(0);
  height: 100%;
  transform-origin: center;
}
/* 
.relax-info-animate{

} */

.contact-section.hidden{
  display: none;
}
.contact-mail {
  width: 600px;
  height: 600px;
}
.contact-form {
  /* background: crimson; */
  width: 30%;
  min-height: 600px;
  position: relative;
}
.contact-section .contact-form h1 {
  font-size: 4rem;
  font-family: "Montserrat", sans-serif;
  color: white;
}
.contact-section .contact-form p {
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: white;
}
label {
  font-family: Open Sans;
  font-weight: 700;
}
form {
  margin-top: 20px;
}
input {
  border: none;
  outline: none;
}
select,
textarea {
  border: none;
  outline: none;
}
.formdiv {
  margin-bottom: 16px;
  position: relative;
  /* background: aqua; */
  color: white;
  /* display: block; */
}
.name.fill-underline::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  transform-origin: left;
  height: 5px;
  background-color: crimson;
  transform: scale(0);
  transition: transform 200ms ease-in-out;
}
.name.fill-underline:focus-within::before {
  transform: scale(1);
}
.email.fill-underline::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  transform-origin: left;
  height: 5px;
  background-color: crimson;
  transform: scaleX(0);
  transition: transform 200ms ease-in-out;
}
.email.fill-underline:focus-within::before {
  transform: scale(1);
}
.subject.fill-underline::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  transform-origin: left;
  height: 5px;
  background-color: crimson;
  transform: scaleX(0);
  transition: transform 200ms ease-in-out;
}
.subject.fill-underline:focus-within::before {
  transform: scale(1);
}
input[type="text"],
textarea {
  width: 100%;
  padding: 12px;
  background: rgb(19, 19, 19);
  /* border: 1px solid rgb(19, 19, 19); */
  box-sizing: border-box;
  color: white;
  margin-top: 6px;
  resize: vertical;
}
::placeholder {
  font-family: Open sans;
}
input[type="submit"] {
  font-family: Open Sans;
  /* background: rgb(19, 19, 19); */
  background: transparent;
  /* border: 1px solid rgb(19, 19, 19); */
  color: white;
  padding: 12px 20px;
  font-size: 15px;
  display: block;
  width: 150px;
  height: 50px;
  /* z-index: 1; */
  cursor: pointer;
  position: relative;
  transition: color 300ms ease-in-out, border 300ms ease-in-out;
}
.submit {
  width: 150px;
  height: 50px;
  position: relative;
  background: rgb(19, 19, 19);
}
.submit::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: crimson;
  z-index: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 300ms cubic-bezier(0.22, 0.61, 0.36, 1);
}
.submit:hover::before,
.submit:focus-within::before {
  transform: scaleX(1);
}
.svg-white{
  max-width: 100%;
  min-height: 20vh;
  position: relative;
  background: black;
}
/* .cls-1 {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 5px;
  stroke-dasharray: 2500;
  animation: writebase 5s ease-in-out infinite;
}
.ttd {
  width: 10rem;
} */
/* @keyframes writebase {
  0% {
    stroke-dashoffset: 2500;
  }
  100% {
    stroke-dashoffset: 0;
  }
} */
footer {
  max-width: 100%;
  min-height: 2vh;
  padding-top: 10px;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Poppins;
  font-weight: 600;
}
